body{
    margin:0px;
}
p.speech{
    font-family: Helvetica, sans-serif;
    font-size: 13px;
}

.name{
    font-family: 'Times New Roman', serif;
    font-size: 13px;
}
.name:hover{
    text-shadow: 0px 1px 1px Purple, 1px 2px 1px Purple,2px 3px 1px Purple,3px 4px 1px Purple,4px 5px 1px Purple,5px 6px 1px Purple;
    border: 10px solid transparent;
    
  padding: 15px;
  
  border-image:url(border.png) 20% round;
  
    
   
}
p.stage-direction{
    font-family: 'Times New Roman', serif;
    font-size: 13px;
    background-color: #7FFFD4;
}

p.stage-direction:hover{
    background-color: black;
    color:white;
}

.firstlord{
    color:red;

}

.secondlord{
color:green;
}

.king{
color:orange;
}

.bertram{
color:blue;
}
table{
    margin-left:30px;
}
table,th,td{
    border:1px solid black;
    border-collapse: collapse;
}
table tr:first-child{
    background-color: green;
    color:white;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
th,td{
    text-align:center;
    padding:8px;
}
